/* --- DESTACADOS --- */ 
.destacados_proyecto {
	padding: 70px 0 0;
}
.destacados_proyecto img {
	margin: 0 auto;
	width: 100%;
	max-height: 60vh;
	max-height: 60dvh;
	max-width: 1000px;
	object-fit: contain;
}
.destacados_proyecto_info {
	display: block;
	margin: 0 clamp(40px,15%,600px);
}
.destacados_proyecto_info h2 {
	font-size: 2rem;
	margin: 0 0 0.5rem;
}
.destacados_proyecto_info p {
/*	max-width: 45ch;*/
	margin: 1rem 0;
}

.enlaceDestacado {
	display: inline-block;
	background-color: var(--negro);
	padding: 0.2em 1em;
	margin: 0 0 2rem;
}

@media (min-width: 820px) {
	.destacados_proyecto {
		padding: 70px 0 0;
	}
	.destacados_proyecto_info {
		width: 50%;
		margin: 0 auto;
	}
	.destacados_proyecto_info h2 {
		font-size: 3rem;
		line-height: 3.6rem;
		margin: 0 0 1rem;
		text-wrap: balance;
	}
	.destacados_proyecto_info p {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin: 0 0 1rem 10%;
	}
	.enlaceDestacado {
		margin: 0rem 0 3rem 0;
	}
}

@media (min-width: 1200px) {
	.destacados_proyecto {
		padding: 130px 0 0;
	}
	.destacados_proyecto_info {
		max-width: 900px;
	}
	.destacados_proyecto_info h2 {
		font-size: 4rem;
		line-height: 5rem;
		margin: 0 0 1rem;
	}
	.destacados_proyecto_info p {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin: 2rem 0 0 10%;
	}
	.enlaceDestacado {
		margin: 0rem 0 4rem 0;
	}
}

/* --- GALERÃA --- */
main {
	margin: 0 0 5rem;
}
#filtros {
	margin:  0 0;
}
#filtros h2{
	font-size: 2rem;
	margin: 3rem 0 1rem;
	text-align: center;
}
#filtros ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
#filtros li {
	display: inline;
}
.filtros__boton {
	margin: 0.2em 0.2em;
	padding: 0.2em 0.6em;
	font-size: 1rem;
	text-decoration: underline;
	border: none;
	background-color: transparent;
	color: var(--morado);
	font-family: var(--titulos);
	transition: all .2s ease-out;
}
.filtros__boton:hover {
	background-color: var(--menta);
	color: var(--negro);
	transition: all .2s ease-out;
}

.filtros__boton-actual {
	margin: 0.2em 0.2em;
	padding: 0.2em 0.6em;
	font-size: 1rem;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: var(--menta);
	font-family: var(--titulos);
	transition: all .2s ease-out;
}


#filtros_mensajeError {
	color: var(--naranja);
	text-align: center;
}


#archivo {
	margin: 2rem auto;
	padding: 0 1rem;
	max-width: 2000px;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}
.proyecto {
	position: relative;
	flex: 0 1 350px;
	aspect-ratio: 4/5;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.proyecto img {
	
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.proyecto .lnk_img {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.15);
	transition: background-color .2s ease-out;
}
p.enlace {
	color: var(--morado);
	text-decoration: underline;
}
.proyecto:hover > .proyecto_info {
	background-color: rgba(33, 33, 33, 1);
	transition: background-color .2s ease-out;
}
.proyecto:hover > .lnk_img {
	background-color: rgba(33, 33, 33, 0);
	transition: background-color .2s ease-out;
}
.proyecto:hover > .proyecto_info p.enlace {
	color: var(--menta);
}

.proyecto_info {
	position: absolute;
	width: calc(100% - 4rem);
	background-color: rgba(33, 33, 33, 0.7);
	-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
	color: var(--menta);
	padding: 1rem 2rem;
	
	transition: background-color .2s ease-out;
}
.proyecto_info p {
	margin: 0;
}
.proyecto_info a {
	text-align: right;
	margin: 0 auto;
}
.mostrar {
	animation: entrada 0.4s ease-in-out;
}
@keyframes entrada {
	0% {
		opacity: 0;
		bottom: -50px;
	}
	60% {
		bottom: 10px;
	} 
	100% { 
		opacity: 1;
		bottom: 0px;
	}
}

@media (min-width: 820px) {
	#filtros {
		margin: 5rem auto 3rem;
		width: 90%;
	}
}

@media (min-width: 1300px) {
	#filtros {
		margin: 6rem auto 4rem;
		width: 90%;
	}
}